* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "sans-serif";
}

body {
  background-color: #e9c46a;
  color: #e76f51;
}

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: #c5a75a6a;
}
.myLinks {
  display: flex;
}

a {
  text-decoration: none;
  color: #e76f51;
  margin: 10px;
}

.profileCardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.profileCard {
  /* border: 1px solid black; */
  border-radius: 10px;
  box-shadow: 2px 3px 25px black;
}

.profileCard h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileCard img {
  height: 30vh;
  width: auto;
  /* padding: 10px; */
  margin: 10px;
  border-radius: 25px;
  box-shadow: 3px 3px 5px black;
}

.profileText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.buttonSection {
  display: flex;
  justify-content: space-evenly;
  height: 5vh;
  width: auto;
}

button {
  width: 100px;
  height: 80%;
  border-radius: 10px;
  background-color: #d6eeff;
  border: 1px solid black;
}

button:hover {
  background-color: #afc4d4;
}
