* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "sans-serif";
}

body {
  background-color: #e9c46a;
  color: #e76f51;
}

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.myLinks {
  display: flex;
}

a {
  text-decoration: none;
  color: #e76f51;
  margin: 10px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

/* Media Query for Tablets (max-width: 768px) */
@media screen and (max-width: 768px) {
  .navBar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
  }

  .menu-icon {
    display: block; /* Show the hamburger menu */
  }

  .myLinks {
    display: none; /* Hide links initially */
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: rgba(29, 24, 13, 0.793);
    padding: 10px;
    width: 200px;
    border-radius: 5px;
  }

  .myLinks a {
    display: block;
    margin: 10px 0;
    text-align: center;
  }

  .myLinks.show {
    display: flex; /* Show menu when toggled */
  }
}

.buttonSection {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  height: auto;
  width: auto;
 padding: 10px;
 border-radius: 10px;
 border: none;
 box-shadow: 5px 5px 5px black;
}
